.info-card-container {
  background-color: var(--main-bg-color);
  flex-direction: column;
  display: flex;
  margin: 20px;
  align-items: flex-start;
  gap: 2px;
}

.info-title-container {
  padding: 10px;
  font-size: 25px;
  font-family: "Heebo", sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
}

.info-content-container {
  margin: 10px;
}

.contact-cards-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.contact-card-container {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 35px;
  box-sizing: border-box;
}

.icon-container {
  height: 45px;
  width: 45px;
  box-sizing: border-box;
}

.detail-container {
  box-sizing: border-box;
  text-align: left;
  align-content: center;
  flex-grow: 1;
}

@media (max-width: 1160px) {
  .contact-cards-container {
    align-self: center;
  }
}

.line-break {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-info-container {
  background-color: var(--main-bg-color);
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-image-container {
  box-sizing: border-box;
  height: 140px;
  width: 140px;
  padding: 10px;
}

.profile-name-container {
  margin: 10px;
  text-align: center;
  font-size: var(--h2-size);
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
}

.profile-title-container {
  padding: 10px 20px 10px 20px;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(32, 30, 28);
  border-radius: 10px;
}
