.pro-container {
  background-color: rgb(53, 52, 48);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 37px;
  flex-wrap: wrap;
}

.pro-item-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.pro-img-container {
  display: flex;
  align-items: center;
  box-sizing: content-box;
  padding: calc(30px * 0.5625) 30px calc(30px * 0.5625) 30px;
  aspect-ratio: 16/9;
  justify-content: center;
  background-color: rgb(32, 30, 28);
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

.pro-img-container:hover {
  padding: 0;
  transition: 0.2s ease-in-out;
}

.pro-img {
  border-radius: 20px;
  max-width: 100%;
  justify-self: center;
  align-self: center;
  transition: 0.2s ease-in-out;
}

.pro-desc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 17px;
  margin-top: 20px;
  box-sizing: border-box;
}

.pro-desc-content {
  font-size: 20px;
  font-weight: 200;
  overflow: hidden;
}
